# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/
.env

# Data & models (large files — don't commit)
data/*.csv
data/*.zip
models/*.pkl
models/*.joblib

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
.vscode/
.idea/

# Keep folder structure but ignore contents
!data/.gitkeep
!models/.gitkeep
